<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello from EJS </h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum nesciunt est quaerat quod iure illo dolores inventore doloribus officiis vero, tenetur temporibus deleniti tempora, cumque hic quam voluptatum ab. Expedita exercitationem quis ad assumenda voluptatibus dignissimos. Expedita ab officiis, officia quam praesentium quis vel possimus? Officia vitae, doloremque adipisci obcaecati quae magnam nostrum. Expedita optio est omnis suscipit magni quisquam architecto, pariatur nobis laborum, tempore esse tempora consequatur! Velit corrupti quisquam, debitis dolor est provident a consequatur illo reprehenderit impedit quidem suscipit placeat explicabo aperiam sapiente fugit fuga? Vero, voluptas ea nobis rerum velit odio dolorum minus? Inventore, consequatur quisquam!</p>
</body>
</html>